.about {
  margin-top: 160px;
  background-color: $main;
  padding: 108px 0;
  position: relative;
  overflow: hidden;

  &__wrapper {
    max-width: 956px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 328px;
    column-gap: 128px;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__text {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.35;
  }

  @media screen and (max-width: $xl) {
    padding: 64px 20px;

    &__wrapper {
      column-gap: 64px;
    }
  }

  @media screen and (max-width: $md) {
    &__wrapper {
      display: block;
      max-width: 350px;
    }

    &__text {
      text-align: center;
    }

    &__stats {
      margin-top: 48px;
    }
  }

  @media screen and (max-width: $sm) {
    &__text {
      font-size: 22px;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1;

    @media screen and (max-width: $sm) {
      opacity: 0.5;
    }
  }

  &::before {
    background-image: url("../img/decor/about1.svg");
    width: 466px;
    height: 387px;
    top: -54px;
    left: -37px;
  }

  &::after {
    background-image: url("../img/decor/about2.svg");
    width: 373px;
    height: 449px;
    bottom: -87px;
    right: -26px;
  }
}

.about-stats {
  border-top: 2px solid #fff;
  padding-top: 28px;

  &__percents {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    color: #fff;
  }

  &__percent {
    font-size: 50px;
    display: block;

    @media screen and (max-width: $xl) {
      font-size: 42px;
    }
  }

  &__percent-caption {
    font-size: 14px;
    display: block;
  }

  &__link {
    display: block;
    margin-top: 62px;
    background-color: #fff;
    color: $main;
    padding: 12px;
    text-align: center;
    font-weight: 700;
    transition: 0.3s;

    &:hover {
      text-decoration: underline;
    }
  }
}
