footer.footer
  .footer__wrapper
    .footer__grid
      .footer__company
        a(href="#").footer__logo
          img(src="img/logo.png", alt="alt" width="167" height="44")
        p.footer__slogan Прототип нового сервиса — это как грохот грома грядущих изменений.
      nav.footer__nav-first.footer-nav
        h2.footer-nav__title Навигация
        ul.footer-nav__list
          li.footer-nav__item
            a(href="#").footer-nav__link Наши продукты
          li.footer-nav__item
            a(href="#").footer-nav__link Учебные пособия
          li.footer-nav__item
            a(href="#").footer-nav__link Услуги
          li.footer-nav__item
            a(href="#").footer-nav__link Возможности
      nav.footer__nav-second.footer-nav
        h2.footer-nav__title О компании
        ul.footer-nav__list
          li.footer-nav__item
            a(href="#").footer-nav__link О нас
          li.footer-nav__item
            a(href="#").footer-nav__link Вакансии
          li.footer-nav__item
            a(href="#").footer-nav__link Контакты
          li.footer-nav__item
            a(href="#").footer-nav__link Новости
      form.footer__subscribe.footer-subscribe
        p.footer-subscribe__caption Оказывается, коронованный герцог графства не стал ограничивающим фактором
        .footer-subscribe__form-field
          input.footer-subscribe__input(type="email" placeholder="Ваш Email" name="email" required)
          button.footer-subscribe__btn(type="submit" aria-label="Подписаться на рассылку")
            i.icon-arrow 

    .footer__socials.footer-socials
      h2.footer-socials__title Будем на связи
      ul.footer-socials__list
        li.footer-socials__item
          a(href="#" aria-label="facebook").footer-socials__link
            i.footer-socials__icon.icon-facebook
        li.footer-socials__item
          a(href="#" aria-label="twitter").footer-socials__link
            i.footer-socials__icon.icon-twitter
        li.footer-socials__item
          a(href="#" aria-label="linkedin").footer-socials__link
            i.footer-socials__icon.icon-linkedin

    .footer__bottom
      span.footer__copy © 2022. Все права защищены
      span.footer__bottom-slogan Все будет хорошо!